{% extends "base.html" %}

{% block content %}

<h2>📦 Inventory Items</h2>

<p>

    <a href="{% url 'add_inventory_item' %}">
        ➕ Add Inventory Item
    </a>

</p>

<table border="1" cellpadding="8" cellspacing="0">

    <tr>

        <th>Item</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Location</th>
        <th>Status</th>
        <th>Actions</th>

    </tr>

    {% for item in items %}

    <tr>

        <td>{{ item.name }}</td>

        <td>{{ item.category.name }}</td>

        <td>{{ item.quantity }}</td>

        <td>{{ item.unit }}</td>

        <td>{{ item.location }}</td>

        <td>

            {% if item.quantity <= item.minimum_stock %}

                <span style="color:red;">
                    Low Stock
                </span>

            {% else %}

                <span style="color:green;">
                    In Stock
                </span>

            {% endif %}

        </td>

        <td>

            

            <a href="{% url 'delete_inventory_item' item.id %}">
                🗑 Delete
            </a>

            |

            <a href="{% url 'receive_stock' item.id %}">
                📥 Receive
            </a>
            
            |

            <a href="{% url 'issue_stock' item.id %}">
                📤 Issue
            </a>
        
            |
            <a href="{% url 'edit_inventory_item' item.id %}">
                ✏ Edit
            </a>
           

        </td>

    </tr>

    {% empty %}

    <tr>

        <td colspan="7">
            No inventory items found.
        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}