{% extends "base.html" %}

{% block content %}

<h2>Add Teacher</h2>

<form method="POST">
    {% csrf_token %}

    <label>Employee Number</label><br>
    <input type="text" name="employee_number" required><br><br>

    <label>First Name</label><br>
    <input type="text" name="first_name" required><br><br>

    <label>Last Name</label><br>
    <input type="text" name="last_name" required><br><br>

    <label>Gender</label><br>
    <select name="gender" required>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select><br><br>

    <label>Phone</label><br>
    <input type="text" name="phone"><br><br>

    <label>Email</label><br>
    <input type="email" name="email"><br><br>

    <label>Subject</label><br>
    <input type="text" name="subject"><br><br>

    <button type="submit">Save Teacher</button>
</form>

{% endblock %}