{% extends "base.html" %}

{% block content %}

<h2>Add User</h2>

{% if messages %}
{% for message in messages %} <p style="color:red;">
{{ message }} </p>
{% endfor %}
{% endif %}

<form method="post">


{% csrf_token %}

<p>
    Username<br>
    <input
        type="text"
        name="username"
        required
    >
</p>

<p>
    First Name<br>
    <input
        type="text"
        name="first_name"
        required
    >
</p>

<p>
    Last Name<br>
    <input
        type="text"
        name="last_name"
        required
    >
</p>

<p>
    Email<br>
    <input
        type="email"
        name="email"
    >
</p>

<p>
    Password<br>
    <input
        type="password"
        name="password"
        required
    >
</p>

<p>
    Group<br>

    <select
        name="group"
        id="group"
        required
    >

        <option value="">
            -- Select Group --
        </option>

        {% for group in groups %}

            <option value="{{ group.name }}">
                {{ group.name }}
            </option>

        {% endfor %}

    </select>

</p>

<div id="teacher-fields" style="display:none;">

    <hr>

    <h3>Teacher Information</h3>

    <p>
        Employee Number<br>
        <input
            type="text"
            name="employee_number"
            id="employee_number"
        >
    </p>

    <p>
        Gender<br>

        <select
            name="gender"
            id="gender"
        >

            <option value="">
                -- Select Gender --
            </option>

            <option value="Male">
                Male
            </option>

            <option value="Female">
                Female
            </option>

        </select>

    </p>

    <p>
        Phone<br>
        <input
            type="text"
            name="phone"
            id="phone"
        >
    </p>

    <p>
        Assigned Subjects<br>

        <select
            name="assigned_subjects"
            id="assigned_subjects"
            multiple
            size="8"
        >

            {% for subject in subjects %}

                <option value="{{ subject.id }}">
                    {{ subject.school_class.name }} -
                    {{ subject.name }}
                </option>

            {% endfor %}

        </select>
    </p>

    <small>
        Hold Ctrl while clicking to select multiple subjects.
    </small>

</div>

<button type="submit">
    Create User
</button>


</form>

<script>

document.getElementById("group").addEventListener(
    "change",
    function () {

        const teacherFields =
            document.getElementById("teacher-fields");

        if (this.value === "Teachers") {

            teacherFields.style.display = "block";

            document.getElementById(
                "employee_number"
            ).required = true;

            document.getElementById(
                "gender"
            ).required = true;

            document.getElementById(
                "phone"
            ).required = true;

        } else {

            teacherFields.style.display = "none";

            document.getElementById(
                "employee_number"
            ).required = false;

            document.getElementById(
                "gender"
            ).required = false;

            document.getElementById(
                "phone"
            ).required = false;
        }

    }
);

</script>

{% endblock %}
