{% extends "base.html" %}

{% block content %}

<h2>Add Subject</h2>

<form method="POST">
    {% csrf_token %}

    <label>Subject Name</label><br>
    <input type="text" name="name" required><br><br>

    <label>Subject Code</label><br>
    <input type="text" name="code" required><br><br>

    <label>Teacher</label><br>
    <select name="teacher">
        <option value="">-- Select Teacher --</option>

        {% for teacher in teachers %}
            <option value="{{ teacher.id }}">
                {{ teacher.employee_number }} - {{ teacher.first_name }} {{ teacher.last_name }}
            </option>
        {% endfor %}
    </select><br><br>

    <button type="submit">Save Subject</button>

</form>

{% endblock %}