{% extends "base.html" %}

{% block content %}

<h2>Add Teacher</h2>

<form method="POST">
    {% csrf_token %}

    <p>
        <label>Staff Number</label><br>
        <input type="text" name="staff_number" required>
    </p>

    <p>
        <label>First Name</label><br>
        <input type="text" name="first_name" required>
    </p>

    <p>
        <label>Last Name</label><br>
        <input type="text" name="last_name" required>
    </p>

    <p>
        <label>Gender</label><br>
        <select name="gender">
            <option>Male</option>
            <option>Female</option>
        </select>
    </p>

    <p>
        <label>Subject</label><br>
        <input type="text" name="subject" required>
    </p>

    <p>
        <label>Phone</label><br>
        <input type="text" name="phone">
    </p>

    <button type="submit">Save Teacher</button>

</form>

{% endblock %}