
{% extends "base.html" %}

{% block content %}

<h2>🗑 Delete Fee Structure</h2>

<p>
    Are you sure you want to delete this fee structure?
</p>

<table border="1" cellpadding="8">

    <tr>
        <th>Class</th>
        <td>{{ fee.school_class.name }}</td>
    </tr>

    <tr>
        <th>Academic Year</th>
        <td>{{ fee.academic_year }}</td>
    </tr>

    <tr>
        <th>Term</th>
        <td>Term {{ fee.term }}</td>
    </tr>

    <tr>
        <th>Total Fee</th>
        <td>KSh {{ fee.total_fee }}</td>
    </tr>

</table>

<br>

<form method="POST">

    {% csrf_token %}

    <button type="submit">
        🗑 Yes, Delete
    </button>

    &nbsp;

    <a href="{% url 'fee_structure_list' %}">
        Cancel
    </a>

</form>

{% endblock %}

