{% extends "base.html" %}

{% block content %}

<h2>Delete Fee Structure</h2>

<p>
    Are you sure you want to delete this fee structure?
</p>

<table border="1" cellpadding="8">

    <tr>
        <th>Academic Year</th>
        <td>{{ fee_structure.academic_year }}</td>
    </tr>

    <tr>
        <th>Term</th>
        <td>Term {{ fee_structure.term }}</td>
    </tr>

    <tr>
        <th>Class</th>
        <td>{{ fee_structure.school_class.name }}</td>
    </tr>

    <tr>
        <th>Tuition</th>
        <td>{{ fee_structure.tuition_fee|floatformat:2 }}</td>
    </tr>

    <tr>
        <th>Activity</th>
        <td>{{ fee_structure.activity_fee|floatformat:2 }}</td>
    </tr>

    <tr>
        <th>Exam</th>
        <td>{{ fee_structure.exam_fee|floatformat:2 }}</td>
    </tr>

    <tr>
        <th>Other</th>
        <td>{{ fee_structure.other_fee|floatformat:2 }}</td>
    </tr>

    <tr>
        <th>Total</th>
        <td>
            <strong>
                {{ fee_structure.total_fee|floatformat:2 }}
            </strong>
        </td>
    </tr>

</table>

<br>

<form method="POST">

    {% csrf_token %}

    <button type="submit">
        Yes, Delete
    </button>

    <a href="{% url 'fee_structure_list' %}">
        Cancel
    </a>

</form>

{% endblock %}