{% extends "base.html" %}

{% block content %}

<h2>Delete Student</h2>

<p>
    Are you sure you want to delete
    <strong>
        {{ student.first_name }} {{ student.last_name }}
    </strong>
?
</p>

<p>
    Admission Number:
    <strong>{{ student.admission_number }}</strong>
</p>

<form method="post">
    {% csrf_token %}

    <button type="submit">
        🗑 Yes, Delete Student
    </button>

    <a href="{% url 'students:student_list' %}">
        Cancel
    </a>
</form>

{% endblock %}
