{% extends "base.html" %}

{% block content %}

<h1>Edit Exam</h1>

<form method="post">

    {% csrf_token %}

    <p>
        <label>Exam Name</label><br>
        <input
            type="text"
            name="name"
            value="{{ exam.name }}"
            required
        >
    </p>

    <p>
        <label>Term</label><br>

        <select name="term" required>

            <option value="1"
                {% if exam.term == "1" %}selected{% endif %}>
                Term 1
            </option>

            <option value="2"
                {% if exam.term == "2" %}selected{% endif %}>
                Term 2
            </option>

            <option value="3"
                {% if exam.term == "3" %}selected{% endif %}>
                Term 3
            </option>

        </select>
    </p>

    <p>
        <label>Year</label><br>

        <input
            type="number"
            name="year"
            value="{{ exam.year }}"
            required
        >
    </p>

    <p>
        <label>Marks Out Of</label><br>

        <input
            type="number"
            name="marks_out_of"
            value="{{ exam.marks_out_of }}"
            min="0.01"
            step="0.01"
            required
        >
    </p>

    <button type="submit">
        💾 Update Exam
    </button>

    <a href="{% url 'students:exam_list' %}">
        Cancel
    </a>

</form>

{% endblock %}