{% extends "base.html" %}

{% block content %}

<h2>📅 Examination Timetable</h2>

<p>
    <a href="{% url 'add_exam_timetable' %}">
        ➕ Add Exam Timetable
    </a>
</p>

<hr>

<table border="1" cellpadding="8" cellspacing="0" width="100%">

    <tr style="background:#1F4E79;color:white;">

        <th>Class</th>
        <th>Exam</th>
        <th>Subject</th>
        <th>Date</th>
        <th>Day</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Room</th>
        <th>Supervisor</th>
        <th>Actions</th>

    </tr>

    {% for timetable in timetables %}

    <tr>

        <td>
            {{ timetable.school_class.name }}
        </td>

        <td>
            {{ timetable.exam.name }}
        </td>

        <td>
            {{ timetable.subject.name }}
        </td>

        <td>
            {{ timetable.exam_date }}
        </td>

        <td>
            {{ timetable.day }}
        </td>

        <td>
            {{ timetable.start_time }}
        </td>

        <td>
            {{ timetable.end_time }}
        </td>

        <td>
            {% if timetable.room %}
                {{ timetable.room }}
            {% else %}
                -
            {% endif %}
        </td>

        <td>

            {% if timetable.supervisor %}

                {{ timetable.supervisor.first_name }}
                {{ timetable.supervisor.last_name }}

            {% else %}

                Not Assigned

            {% endif %}

        </td>

        <td>

            <a href="{% url 'edit_exam_timetable' timetable.id %}">
                ✏ Edit
            </a>

            |

            <a href="{% url 'delete_exam_timetable' timetable.id %}">
                🗑 Delete
            </a>

        </td>

    </tr>

    {% empty %}

    <tr>

        <td colspan="10" align="center">

            No examination timetable has been added.

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}