{% extends "base.html" %}

{% block content %}

<h2>Fee Payments</h2>

<p>
    <a href="{% url 'add_payment' %}">
        ➕ Record Payment
    </a>
</p>

<table border="1" cellpadding="8">

<tr>
    <th>Student</th>
    <th>Receipt No</th>
    <th>Amount Paid</th>
    <th>Date</th>
    <th>Action</th>
</tr>

{% for payment in payments %}

<tr>

    <td>{{ payment.student }}</td>

    <td>{{ payment.receipt_number }}</td>

    <td>KSh {{ payment.amount_paid }}</td>

    <td>{{ payment.date_paid }}</td>

    <td>

        <a href="{% url 'print_receipt' payment.id %}">
            🖨 Print Receipt
        </a>

    </td>

</tr>

{% empty %}

<tr>

<td colspan="5">
No fee payments found.
</td>

</tr>

{% endfor %}

</table>

{% endblock %}