{% extends "base.html" %}

{% block content %}

<div style="width:95%; margin:auto;">

<table width="100%">

<tr>

<td width="120">

{% if school.logo %}
<img src="{{ school.logo.url }}" width="100">
{% endif %}

</td>

<td align="center">

<h2>{{ school.name }}</h2>

<p>{{ school.address }}</p>

<p>
Tel: {{ school.phone }}
|
{{ school.email }}
</p>

<p>
<b>{{ school.current_term }}</b>
|
<b>{{ school.academic_year }}</b>
</p>

<h3>STUDENT REPORT CARD</h3>

</td>

<td width="120" align="right">

{% if student.photo %}
<img src="{{ student.photo.url }}"
     width="100"
     height="120"
     style="border:1px solid black;">
{% endif %}

</td>

</tr>

</table>

<hr>

<table width="100%" cellpadding="5">

<tr>

<td>
<b>Admission No:</b>
{{ student.admission_number }}
</td>

<td>
<b>Class:</b>
{{ student.school_class }}
</td>

</tr>

<tr>

<td>
<b>Student:</b>
{{ student.first_name }}
{{ student.last_name }}
</td>

<td>
<b>Exam:</b>
{{ exam }}
</td>

</tr>

<tr>

<td>
<b>Gender:</b>
{{ student.gender }}
</td>

<td>
<b>Date of Birth:</b>
{{ student.date_of_birth }}
</td>

</tr>

</table>

<hr>

<h3>Academic Performance</h3>

<table border="1"
       width="100%"
       cellpadding="6">

<tr bgcolor="#dddddd">

<th>No.</th>
<th>Subject</th>
<th>Marks</th>
<th>Grade</th>

</tr>

{% for mark in marks %}

<tr>

<td>{{ forloop.counter }}</td>

<td>{{ mark.subject.name }}</td>

<td align="center">
{{ mark.marks }}
</td>

<td align="center">
{{ mark.grade }}
</td>

</tr>

{% empty %}

<tr>

<td colspan="4" align="center">

No marks entered.

</td>

</tr>

{% endfor %}

</table>

<br>

<table border="1"
       width="50%"
       cellpadding="6">

<tr>

<th>Total Marks</th>

<td>{{ total }}</td>

</tr>

<tr>

<th>Average</th>

<td>{{ average }}</td>

</tr>

<tr>

<th>Overall Grade</th>

<td>{{ overall_grade }}</td>

</tr>

<tr>

<th>Position</th>

<td>

{{ position }}
of
{{ class_size }}

</td>

</tr>

</table>

<br>

<h3>Fee Status</h3>

<table border="1"
       width="60%"
       cellpadding="6">

<tr>

<th>Total Fee</th>

<td>KSh {{ total_fee }}</td>

</tr>

<tr>

<th>Total Paid</th>

<td>KSh {{ total_paid }}</td>

</tr>

<tr>

<th>Balance</th>

<td>

<b>

KSh {{ balance }}

</b>

</td>

</tr>

</table>

<br>

<h3>Teacher's Remarks</h3>

<p>

{{ remark }}

</p>

<br><br>

<table width="100%">

<tr>

<td>

_________________________

<br>

Class Teacher

</td>

<td align="right">

{% if school.principal_signature %}

<img src="{{ school.principal_signature.url }}"
     width="140">

<br>

{% endif %}

<b>

{{ school.principal_name }}

</b>

<br>

Principal

</td>

</tr>

</table>

<br>

<p>

Printed on:

{% now "d/m/Y H:i" %}

</p>

<br>

<a href="{% url 'students:print_report' student.id %}"
   target="_blank">

🖨 Print PDF Report

</a>

|

<a href="{% url 'students:student_list' %}">

⬅ Back

</a>

</div>

{% endblock %}
