{% extends "base.html" %}

{% block content %}

<style>
    table{
        width:100%;
        border-collapse:collapse;
        background:white;
    }

    th, td{
        border:1px solid #ddd;
        padding:10px;
        text-align:left;
    }

    th{
        background:#1565c0;
        color:white;
    }

    tr:nth-child(even){
        background:#f9f9f9;
    }

    .btn{
        display:inline-block;
        margin-bottom:20px;
        padding:10px 15px;
        background:#1565c0;
        color:white;
        text-decoration:none;
        border-radius:5px;
    }
</style>

<h1>Student List</h1>

<a class="btn" href="/students/add/">Add Student</a>

<table>

<tr>
    <th>Admission No.</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Gender</th>
    <th>Class</th>
    <th>Parent</th>
    <th>Phone</th>
    <th>Actions</th>
</tr>

{% for student in students %}

<tr>
    <td>{{ student.admission_number }}</td>
    <td>{{ student.first_name }}</td>
    <td>{{ student.last_name }}</td>
    <td>{{ student.gender }}</td>
    <td>
    {% if student.school_class %}
        {{ student.school_class.name }}
    {% else %}
        Not Assigned
    {% endif %}
</td>
    <td>{{ student.parent_name }}</td>
    <td>{{ student.phone }}</td>
    <td>
        <a href="{% url 'edit_student' student.id %}">✏ Edit</a> |
        <a href="{% url 'delete_student' student.id %}">🗑 Delete</a>
    </td>
</tr>

{% empty %}

<tr>
    <td colspan="8">No students have been added yet.</td>
</tr>

{% endfor %}

</table>

{% endblock %}