{% load static %}
{% load group_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>School Management System</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

{% if user.is_authenticated %}

<div class="sidebar">

    {% if user.is_superuser %}
        <h2>🏫 School Management System</h2>
    {% elif user.school_user %}
        <h2>🏫 {{ user.school_user.school.name }}</h2>
    {% else %}
        <h2>🏫 School</h2>
    {% endif %}
    <a href="{% url 'home' %}">
        🏠 Dashboard
    </a>

   {% if user.is_superuser or user|has_group:"Administrators" %}

<!-- Academic -->

<button class="dropdown-btn">
    📚 Academic ▼
</button>

<div class="dropdown-container">

    <a href="{% url 'student_list' %}">👨‍🎓 Students</a>
    <a href="{% url 'attendance_list' %}">📅 Attendance</a>

    <a href="{% url 'teacher_list' %}">👩‍🏫 Teachers</a>

    <a href="{% url 'subject_list' %}">📚 Subjects</a>

    <a href="{% url 'class_list' %}">🏫 Classes</a>

    <a href="{% url 'mark_list' %}">📊 Marks</a>

    <a href="{% url 'promotion_list' %}">🎓 Student Promotion</a>

</div>

<!-- Timetable -->

<button class="dropdown-btn">
    🕒 Timetable ▼
</button>

<div class="dropdown-container">

    <a href="{% url 'generate_timetable' %}">
        ⚡ Generate Timetable
    </a>

</div>


   <!-- Examination -->

<button class="dropdown-btn">
    📝 Examination ▼
</button>

<div class="dropdown-container">

    <a href="{% url 'exam_list' %}">
        📝 Exams
    </a>

    <a href="{% url 'add_exam' %}">
        ➕ Add Exam
    </a>

    

    <a href="{% url 'exam_timetable_list' %}">
        🗓 Exam Timetable
    </a>

    <a href="{% url 'class_results' %}">
        📊 Class Results
    </a>

</div>

<!-- Homework -->

<button class="dropdown-btn">
    📚 Homework ▼
</button>

<div class="dropdown-container">

    <a href="{% url 'homework_list' %}">
        📚 Homework List
    </a>

    <a href="{% url 'add_homework' %}">
        ➕ Add Homework
    </a>

</div>
    <!-- Finance -->

<button class="dropdown-btn">
    💰 Finance ▼
</button>

<div class="dropdown-container">

    <a href="{% url 'fee_structure_list' %}">
        💰 Fee Structure
    </a>

    <a href="{% url 'fee_payment_list' %}">
        💵 Fee Payments
    </a>

    <a href="{% url 'fee_balance_list' %}">
        📋 Fee Balances
    </a>

    <a href="{% url 'finance_dashboard' %}">
        📊 Finance Dashboard
    </a>

</div>
    

    <!-- Payroll -->

<button class="dropdown-btn">
    💼 Payroll ▼
</button>

<div class="dropdown-container">

    <a href="{% url 'salary_structure_list' %}">
        💰 Salary Structure
    </a>

    <a href="{% url 'payroll_list' %}">
        🧾 Payroll Records
    </a>

</div>
    <!-- Transport -->

<button class="dropdown-btn">
    🚌 Transport ▼
</button>

<div class="dropdown-container">

    <a href="{% url 'vehicle_list' %}">
        🚌 Vehicles
    </a>

    <a href="{% url 'transport_route_list' %}">
        🛣 Routes
    </a>

    <a href="{% url 'driver_list' %}">
        👨‍✈️ Drivers
    </a>

    <a href="{% url 'student_transport_list' %}">
        👨‍🎓 Student Transport
    </a>

</div>
    <!-- Hostel -->

<button class="dropdown-btn">
    🏠 Hostel ▼
</button>

<div class="dropdown-container">

    <a href="{% url 'hostel_dashboard' %}">
        📊 Hostel Dashboard
    </a>

    <a href="{% url 'hostel_block_list' %}">
        🏢 Hostel Blocks
    </a>

    <a href="{% url 'hostel_room_list' %}">
        🚪 Hostel Rooms
    </a>

    <a href="{% url 'student_hostel_list' %}">
        🛏 Student Allocation
    </a>

    <a href="{% url 'hostel_warden_list' %}">
        👮 Hostel Wardens
    </a>

    <a href="{% url 'hostel_transfer_list' %}">
        🔄 Room Transfers
    </a>

    <a href="{% url 'hostel_occupancy_report' %}">
        📊 Occupancy Report
    </a>

    <a href="{% url 'hostel_bed_list' %}">
        🛏 Hostel Beds
    </a>

    <a href="{% url 'print_hostel_dashboard' %}">
        🖨 Print Hostel Dashboard
    </a>

</div>
<!-- Discipline -->

<button class="dropdown-btn">
    ⚖ Discipline ▼
</button>

<div class="dropdown-container">

    <a href="{% url 'discipline_dashboard' %}">
        📊 Discipline Dashboard
    </a>

    <a href="{% url 'discipline_case_list' %}">
        ⚖ Discipline Cases
    </a>

    <a href="{% url 'add_discipline_case' %}">
        ➕ Record New Case
    </a>

    <a href="{% url 'discipline_category_list' %}">
        📂 Discipline Categories
    </a>

    <a href="{% url 'add_discipline_category' %}">
        ➕ Add Category
    </a>

    <a href="{% url 'print_discipline_dashboard' %}">
        🖨 Print Dashboard
    </a>

</div>
<!-- Inventory -->

<button class="dropdown-btn">
    📦 Inventory ▼
</button>

<div class="dropdown-container">

    <a href="{% url 'inventory_category_list' %}">
        📂 Categories
    </a>

    <a href="{% url 'stock_transaction_list' %}">
        📋 Stock Transactions
    </a>

    <a href="{% url 'inventory_list' %}">
        📦 Inventory Items
    </a>

</div>

<!-- Library -->

<button class="dropdown-btn">
    📚 Library ▼
</button>

<div class="dropdown-container">

    <a href="{% url 'library_list' %}">
        📚 Books
    </a>

    <a href="{% url 'borrow_book' %}">
        📖 Borrow Book
    </a>

    <a href="{% url 'borrow_list' %}">
        📋 Borrowed Books
    </a>

    <a href="{% url 'library_dashboard' %}">
        📊 Library Dashboard
    </a>

    <a href="{% url 'library_reports' %}">
        📝 Library Reports
    </a>

</div>

<!-- Administration -->

<button class="dropdown-btn">
    ⚙ Administration ▼
</button>

<div class="dropdown-container">

    <a href="{% url 'user_list' %}">
        👥 Users
    </a>

</div>
{% endif %}

{% if user|has_group:"Teachers" %}

<!-- Teacher -->

<button class="dropdown-btn">
    👨‍🏫 Teacher ▼
</button>

<div class="dropdown-container">

    <a href="{% url 'mark_list' %}">
        📊 Enter Marks
    </a>

    <a href="{% url 'teacher_draft_submissions' %}">
        📝 My Drafts
    </a>

    <a href="{% url 'exam_list' %}">
        📝 Exams
    </a>

    <a href="{% url 'exam_timetable_list' %}">
        🗓 Exam Timetable
    </a>

    <a href="{% url 'class_results' %}">
        📈 Class Results
    </a>

    <a href="{% url 'attendance_list' %}">
        📅 Attendance
    </a>

    <a href="{% url 'timetable_list' %}">
        🕒 Timetable
    </a>

</div>
<!-- Homework -->

<button class="dropdown-btn">
    📚 Homework ▼
</button>

<div class="dropdown-container">

    <a href="{% url 'homework_list' %}">
        📚 My Homework
    </a>

    <a href="{% url 'add_homework' %}">
        ➕ Create Homework
    </a>

</div>

{% endif %}

{% if user|has_group:"Bursar" %}

<!-- Bursar -->

<button class="dropdown-btn">
    💰 Bursar ▼
</button>

<div class="dropdown-container">

    <a href="{% url 'finance_dashboard' %}">
        📊 Finance Dashboard
    </a>

    <a href="{% url 'fee_structure_list' %}">
        💰 Fee Structure
    </a>

    <a href="{% url 'fee_payment_list' %}">
        💵 Fee Payments
    </a>

    <a href="{% url 'fee_balance_list' %}">
        📋 Fee Balances
    </a>

    <a href="{% url 'salary_structure_list' %}">
        💼 Salary Structure
    </a>

    <a href="{% url 'payroll_list' %}">
        🧾 Payroll Records
    </a>

</div>

{% endif %}
{% if user|has_group:"Parents" %}

<!-- Parent -->

<button class="dropdown-btn">
    👨‍👩‍👧 Parent ▼
</button>

<div class="dropdown-container">

    <a href="{% url 'parent_dashboard' %}">
        🏠 Dashboard
    </a>
    <a href="{% url 'parent_attendance' %}">
        📅 Attendance
    </a>

    <a href="{% url 'parent_students' %}">
        👨‍🎓 My Children
    </a>

    
   
    <a href="{% url 'parent_attendance' %}">
        📅 Attendance
    </a>
    {% if selected_child %}
    <a href="{% url 'parent_fee_statement' selected_child.id %}">
        💰 Fee Statement
    </a>
{% endif %}

    <a href="{% url 'parent_fee_balance' %}">
        💵 Fee Balance
    </a>

     <a href="{% url 'parent_homework' %}">
        📚 Homework
    </a>

</div>

{% endif %}

<hr>

<a href="{% url 'logout' %}">
    🚪 Logout
</a>

</div>

{% endif %}

<div class="{% if user.is_authenticated %}content{% else %}login-content{% endif %}">

    {% if user.is_authenticated %}
    <div class="topbar">
        <h2>School Management System</h2>
    </div>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

</div>

<script>
document.querySelectorAll(".dropdown-btn").forEach(function(button){

    button.addEventListener("click", function(){

        this.classList.toggle("active");

        var content = this.nextElementSibling;

        if(content.style.display === "block"){
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }

    });

});
</script>

</body>
</html>